<div *ngIf="consent">

  <div class="modal-header">
    <h4 class="modal-title">
      <fa-icon [icon]="iEdit"></fa-icon>
      Edit HIPAA Consent
    </h4>
    <button type="button" class="close" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>The body of the modal goes here</p>
    <div class="row">
      <div class="col-6">
        <span class="text-danger"><b>*</b></span>
        Signed:
        <div class="input-group">
          <input type="text" class="form-control"
              placeholder="HIPAA signed"
              [(ngModel)]="dateSigned">
        </div>
        <!-- <div class="input-group">
          <input type="text" class="form-control"
              placeholder="HIPAA signed"
              [(ngModel)]="dateSigned">
        </div> -->
        <!-- <div class="input-group">
          <input type="date" class="form-control"
              placeholder="HIPAA signed"
              data-date-format="MM/dd/YYYY"
              [(ngModel)]="consent.hipaa_signed">
        </div> -->
        <!-- <div class="input-group">
          <input type="date" class="form-control"
              placeholder="HIPAA signed"
              [ngModel]="consent.hipaa_signed | date:'MM/dd/YYYY'"
              >
        </div> -->
      </div>
      <div class="col-6">
        <span class="text-danger"><b>*</b></span>
        Expires:
        <div class="input-group">
          <input type="text" class="form-control"
              placeholder="HIPAA expires"
              [(ngModel)]="dateExpires">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info"
        (click)="onSave()">
      Save
    </button>
    <button type="button" class="btn btn-outline-dark"
        (click)="activeModal.close('Cancel click')">
      Cancel
    </button>
  </div>

</div>

