<div class="modal-header">
  <h4 class="modal-title">
    <fa-icon [icon]="iView"></fa-icon>
    View Attachment
  </h4>
  <button type="button" class="close" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Attachment:</p>
  <img src='https://picsum.photos/id/237/300/'
      class="rounded mx-auto d-block">
  <!-- TODO: Create dynamic links -->
  <!-- <img src="{{url}}"
      class="rounded mx-auto d-block"> -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"
      (click)="activeModal.close('Cancel click')">
    Close
  </button>
</div>
