<div class="clearfix">
  <nz-upload
      [nzAction]="apiUrl"
      nzListType="picture-card"
      [(nzFileList)]="fileList"
      [nzShowButton]="fileList.length < 8"
      [nzPreview]="handlePreview">
    <!-- wrap this in nz-upload html element -->
    <div>
      <i nz-icon nzType="plus"></i>
      <div style="margin-top: 8px">Upload</div>
    </div>
  </nz-upload>

  <!-- File Preview modal -->
  <nz-modal
      [nzVisible]="previewVisible"
      [nzContent]="modalPreview"
      [nzFooter]="null"
      (nzOnCancel)="previewVisible = false">
    <ng-template #modalPreview>
      <img [src]="previewImage" [ngStyle]="{ width: '100%' }">
    </ng-template>
  </nz-modal>
</div>
<div *nzModalFooter>
  <button nz-button nzType="default"
      (click)="destroyModal()">
    Close
  </button>
</div>
