<div *ngIf="consent">
  <div class="modal-header">
    <h4 class="modal-title">
      <fa-icon [icon]="iDelete"></fa-icon>
      Delete HIPAA Consent
    </h4>
    <button type="button" class="close" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Delete this Patient Consent
      <b>(ID: {{ consent.id }})</b> and all its data?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger"
        (click)="deleteConsent()">
      Yes, delete it
    </button>
    <button type="button" class="btn btn-outline-dark"
        (click)="activeModal.close('Cancel click')">
      Cancel
    </button>
  </div>
</div>
