<div class="container-fluid">
  <h3 class="text-centered">
    Patient Consents
  </h3>
  <h5 class="text-centered">
    <nav class="nav-switch-style">
      <a routerLink="/bootstrap" class="mrb-4">Bootstrap</a>
      <a routerLink="/zorro">Zorro Ant Design</a>
    </nav>
  </h5>
  <p class="text-centered">
    The HIPAA (Health Insurance Portability and Accountability
    Act) table shows the list of patient records available for
    this hospital.
  </p>

  <router-outlet></router-outlet>
</div>

