<div nz-row nzJustify="center">
  <div nz-col [nzSpan]=23>
    <nz-card [nzTitle]="titleHeader">
      <!-- Card Header Template -->
      <ng-template #titleHeader>
        HIPPA
        <button nz-button nzType="text" nzSize="default"
            nz-tooltip nzTooltipColor="green"
            [nzTooltipTitle]="ttAdd"
            (click)="openAddConsentModal()">
          <i nz-icon nzType="plus-circle" nzTheme="twotone"
              nzTwotoneColor="#52c41a">
          </i>
        </button>
      </ng-template>
      <nz-table #hipaaTable [nzData]="consents">
        <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>HIPAA Signed</th>
            <th>HIPAA Expires</th>
            <th>Attach / View</th>
            <th>Edit / Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let consent of hipaaTable.data">
            <td>{{ consent.id }}</td>
            <td>
              {{ consent.status }}
            </td>
            <td>
              {{ consent.hipaa_signed | date:'MM/dd/YYYY' }}
            </td>
            <td>
              {{ consent.hipaa_expires | date:'MM/dd/YYYY' }}
            </td>
            <td>
              <button nz-button nzType="text"
                  nzSize="default" nz-tooltip
                  [nzTooltipTitle]="ttAttach">
                <i nz-icon nzType="paper-clip"></i>
              </button>
              <button nz-button nzType="text"
                  nzSize="default" nz-tooltip
                  [nzTooltipTitle]="ttView">
                <i nz-icon nzType="eye"></i>
              </button>
            </td>
            <td>
              <button nz-button nzType="text" nzSize="default"
                  nz-tooltip nzTooltipColor="blue"
                  [nzTooltipTitle]="ttEdit">
                <i nz-icon nzType="edit" nzTheme="twotone">
                </i>
              </button>
              <button nz-button nzType="text" nzSize="default"
                  nz-tooltip nzTooltipColor="red"
                  [nzTooltipTitle]="ttDelete"
                  (click)="openDeleteConsentModal(consent)">
                <i nz-icon nzType="delete" nzTheme="twotone"
                    nzTwotoneColor="red">
                </i>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
</div>
